In [ ]:
#Q1
#(i)
a='Sohan'
print(type(a))
#ii
b=[1,2,3,4,3+10j,True,10.5,'sohan']
print(type(b))
#iii
c=10.05
print(type(c))
#iv
d = ("apple", "banana", "cherry")
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [ ]:
#Q2.1
var1=''
print(type(var1))

#Q2.2
var2='[ DS , ML , Python]'
print(type(var2))

#Q2.3
var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var2))

#Q2.4
var4=1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>

In [ ]:
#Q3.1
#(/) operator is used to divide
a=20
b=3
print(a/b)

#Q3.2 (%) is modulus operator which gives us the remainder when two numbers are divided
print(a%b)

#Q3.3 (//) is floor division which gives us the quotient when two numbers are divided
print(a//b)

#Q3.4 (**) is exponential operator and returns us the values of exponential
print(a**b)

6.666666666666667
2
6
8000

In [ ]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print theelement and its data type.

a=[1,2,3,'sohan',3.5,True,2+5j,'rohan',False,0]
for i in a:
  print(i)
  print(type(i))
  i+=i

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
sohan
<class 'str'>
3.5
<class 'float'>
True
<class 'bool'>
(2+5j)
<class 'complex'>
rohan
<class 'str'>
False
<class 'bool'>
0
<class 'int'>

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.
A=15
B=3
while A>=B:
  if (A%B==0):
    print('A is purely divisible by B');
  break
c=A//B
print(c)

A is purely divisible by B
5

In [ ]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element isdivisible by 3 or not.
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in a:
  if ((i%3)==0):
    i=i+1
    print("element is divisible by 3")
  else:
    print("element has a non zero remainder ")

element has a non zero remainder
element has a non zero remainder
element is divisible by 3
element has a non zero remainder
element has a non zero remainder
element is divisible by 3
element has a non zero remainder
element has a non zero remainder
element is divisible by 3
element has a non zero remainder
element has a non zero remainder
element is divisible by 3
element has a non zero remainder
element has a non zero remainder
element is divisible by 3
element has a non zero remainder
element has a non zero remainder
element is divisible by 3
element has a non zero remainder
element has a non zero remainder
element is divisible by 3
element has a non zero remainder
element has a non zero remainder
element is divisible by 3
element has a non zero remainder

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showingthis property.

##Mutable data types: in these type of data types we can change their values according to our wish . ex lists

lists=[1,2,3,4,5]
lists.append(6)
print(lists)
#as we can see we have added 6 in the list

##Immutable data types: in these type of data types we cant change their values according to our wish and an error is produced if we try. ex:tuples,strings
tuples=(1,2,3)
tuples[1]=5
print(tuples)
#an error is generated

[1, 2, 3, 4, 5, 6]

TypeError: ignored