<a href="https://colab.research.google.com/github/Sohann09/Assignment-data-science/blob/main/Pandasbasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q.1> Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
df = pd.DataFrame(data)
print(df)

    0
0   4
1   8
2  15
3  16
4  23
5  42

In [2]:
#Q.2> Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
#     variable print it.
data =  ["sarfraj" , "abshar" , "abhishek" , "faizan" , "hammad" , "asif" , "arsalan" , "faiz" , "nesat" ,"nemat"]
df = pd.DataFrame(data)
print(df)

          0
0   sarfraj
1    abshar
2  abhishek
3    faizan
4    hammad
5      asif
6   arsalan
7      faiz
8     nesat
9     nemat

In [4]:
data={
    'Name' :['Alice','Bob','Claire'],
    'Age':[25, 30, 27],

        'Gender': ['Female', 'Male', 'Female']
}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
'''Q.4> What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
   Ans>  In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially
         different data types. It is similar to a spreadsheet  or a  SQL table. In a DataFrame , data is
         organized in rows and columns, where each column can be considered as a Pandas Series.

         On the other hand, a Series in Pandas is a one-dimensional labeled array that can contain data of any
         data type, including integers, strings, and floating-point numbers. It is similar to a column in a
         spreadsheet or a SQL table.

         The main difference between a DataFrame and a Series is that a DataFrame is a two-dimensional data
         structure with rows and columns, while a Series is a one-dimensional data structure with only one column.'''

In [ ]:
#Q.5> What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
     #you give an example of when you might use one of these functions?
     #some examples are given below :

df.head()
df.tail()
df.describe()
df.iloc[0:2]
df.dtypes

Q.6> Which of the following is mutable in nature Series, DataFrame, Panel?

Ans> In Pandas, both Series and DataFrame are mutable in nature, while Panel is considered deprecated
     and has been replaced by multi-dimensional arrays, such as numpy.ndarray or xarray.DataArray,
     which are also mutable.

     In a mutable object, the contents of the object can be modified after it is created. This means
     that you can add, remove, or update elements in a Series or DataFrame after they are created.

In [5]:
#Q.7> Create a DataFrame using multiple Series. Explain with an example.
# Create a Series for each column of data
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Emily'])
ages = pd.Series([25, 30, 35, 40, 45])
genders = pd.Series(['Female', 'Male', 'Male', 'Male', 'Female'])

# Combine the Series into a DataFrame
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# Print the resulting DataFrame
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male
3    David   40    Male
4    Emily   45  Female